:root {
  color-scheme: dark light;
}
form {
  background-color: rgb(53, 53, 53);
  padding: 1rem;
  border-radius: 5px;
}
form label {
  display: inline-block;
  color: rgb(145, 145, 145);
  width: 15ch;
  border: 1px solid black;
  padding: 0.5rem;
}
form input {
  padding: 0.5rem;
  outline: 1px solid black;
}
