{% extends "base.html" %}
{% block content %}
    <ul>
        {% for book in books %}
            <br>
            <li>
                <h2>Nazev: {{ book.title }}</h2>
                <p>pocet stranek: {{ book.pages }}</p>
                <p>
                    bestseller {{ book.is_bestseller }}
                    {% if book.is_bestseller == True %}
                        pravda
                    {% else %}
                        nepravda
                    {% endif %}
                </p>
                <br>
                <a href="{% url "one_book" book.slug %}">na knihu</a>
                <br>
            </li>
            <br>
            <hr>
        {% endfor %}
    </ul>
{% endblock content %}
